.react-number-formatter-form{
  border: 1px solid rgb(180, 179, 179);
  border-radius: 4px;
  display: flex;
}

.border-onfocus-react-number-formatter {
  border-radius: 4px;
  border: 1px solid rgb(0, 145, 255);
  box-shadow: 0px 0px 0px 4px rgba(35, 150, 227, 0.3);
  transition: ease;
}
.border-red-react-number-formatter {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 0px 4px rgba(227, 35, 35, 0.3);
}
.border-green-react-number-formatter {
  border: 1px solid rgb(56, 214, 77);
  box-shadow: 0px 0px 0px 4px rgba(24, 198, 38, 0.26);
}

.border-onfocus-react-number-formatter input  {
  border: none;
}
.border-onfocus-react-number-formatter button {
  border: none;
}
.react-number-formatter-input {
    border: none;
    outline: none;
    font-size: inherit;
    padding: 0 0.4rem;
    color: rgb(52, 52, 52);
    margin-left: -1px;
    background: none;
    width: 100%;
  }

  input::-webkit-input-placeholder {
    opacity: 0.8;
}
  
  .react-number-formatter-dropbtn {
    border: none;
    outline: none;
    margin-right: 0px;
    font-weight: 700;
    color: #5a5959;
    background: none;
    font-size: inherit;
    padding: 0.6rem 0.3rem 0.6rem 0.5rem;
    cursor:pointer;
  }
  
  .react-number-formatter-dropbtn:hover{
    background: none;
    border: none;
    color: rgb(0, 145, 255);
  }
  .zoom {
    transition: transform .2s;
  }
  .react-number-formatter-dropbtn:hover img{
    transform: scale(.95);
  }
  .react-number-formatter-dropbtn:focus{
    color: rgb(0, 145, 255);
  }
  .react-number-formatter-dropbtn:active{
    color: rgb(0, 145, 255);
  }
  .onfocus-react-number-formatter-dropbtn{
    color: rgb(0, 145, 255);
  }
  
  .react-number-formatter-dropbtn-false {
    border: none;
    outline: none;
    margin-right: 0px;
    font-weight: 700;
    color: #5a5959;
    background: none;
    font-size: inherit;
    padding: 0.6rem 0.3rem 0.6rem 0.5rem;
    cursor:pointer;
    pointer-events: none;
  }
  .react-number-formatter-dropbtn-false:hover {
    color: #5a5959;
  }
  .react-number-formatter-dropbtn-false:focus{
    color: #5a5959;
  }

.react-number-formatter-dropbtn-text {
  display: flex;
  pointer-events: none;
  flex-direction: row;
  align-items: center;
}

.react-number-formatter-flag {
  width: 20px;
  height: auto;
  margin: 0px 3px 0px 0px;
  box-shadow: 0px 0px 2px 0px rgb(86, 85, 85);
}

.react-number-formatter-selected-flag {
  min-width: 20px;
  height: 15px;
  border-radius: 1px;
  box-shadow: 0px 0px 2px 0px rgb(86, 85, 85);
}

.react-number-formatter-arrow-parent {
  display: inline-flex;
  margin-left: 5px;
}

.react-number-formatter-dropdown-parent {
  position: relative;
  display: inline-block;
}

.react-number-formatter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  border: 2px solid rgb(227, 225, 225);
  min-width: 275px;
  z-index: 20;
  height:auto;
  max-height:300px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
  border-radius: 0 0 12px 12px;
}
.react-number-formatter-dropdown-content-child {
  overflow: scroll;
  max-height: 250px;
  min-width: inherit;
  z-index: 20;
  overflow-x: hidden;
  border-radius: inherit;
}
.react-number-formatter-dropdown-content-top {
  height: inherit;
  border-radius: 10px 10px 0px 0px;
  height: 300px;
  bottom: 42px
}

.react-number-formatter-dropdown-content .react-number-formatter-option {
  color: black !important;
  padding: 10px 16px !important;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: inherit;
  border-radius: 0% !important;
  background: none;
  border: none;
  outline: none;
  text-align: left;
}

.react-number-formatter-no-option {
  height: 22px;
  margin: 5px 0;
  text-align: center;
  font-size: small;
  opacity: 0.8;
}

.react-number-formatter-dropdown-content .react-number-formatter-dropdown-input-parent {
  text-align: center;
  border-bottom: 2px solid rgb(159, 159, 159);
  position: sticky;
  top: 0;
  min-width: 275px;
  max-width: inherit;
  overflow: hidden;
}

.react-number-formatter-dropdown-input{
  padding: 11px 16px;
  font-size: inherit;
  width: 100%;
  border: none;
  margin: 0px;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #d7d9db;
  color: rgb(78, 77, 77);
}
.react-number-formatter-dropdown-input:focus{
  outline: none;
}

.react-number-formatter-dropdown-content .react-number-formatter-option:hover {background-color: rgb(233, 232, 232)}

.show {display:block;}
